/*.por-content .ch-bg .text-box{*/
    /*right:0;*/
    /*padding-right: 10%;*/
/*}*/
.por-content .down-one{
    background: #47D2FF;
}
.por-content .down-two{
    background: #1DCCC8;
}
.por-content .down-three{
    background: #83A0FE;
}
.por-content .down-four{
    background: #FFD78A;
}